footer {
  position: absolute;
  bottom: 0;
  padding: 11px 0;
  background: #F2F9FD;
  color: #00000080;
  z-index: 999;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.1vw;
  .footer-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  footer{
    position: fixed;
    top: 0;
    bottom: initial;
  }
}
