#mapWrap {
  height: 100vh;
}

::ng-deep {
  .leaflet-popup-content-wrapper {
  }
  .leaflet-top.leaflet-left {
    display: none;
  }

  .leaflet-popup-content {
    width: max-content !important;
  }

  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    bottom: 12px !important;
  }

  .leaflet-popup-content {
    margin: 8px 16px;
    color: #000000b3;
    .heading {
      font-size: 20px;
      margin-bottom: 8px;
    }
    .detail {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .mask-detail-wrap {
    display: flex;
    .mask-adult,
    .mask-child {
      flex: 1;
      border-radius: 24px;
      font-size: 14px;
      text-align: center;
      padding: 7px 0;
    }

    .mask-adult {
      background: #f3cc9a;
      margin-right: 8px;
    }

    .mask-child {
      background: #b1e5bb;
    }
  }
  .leaflet-marker-icon.leaflet-interactive {
    color: #10666a;
  }
  .marker-cluster-small {
    // background-color: #B1FBFF !important;
    background-color: rgba(177, 251, 255, 0.7) !important;
  }
  .marker-cluster-small div {
    // background-color: #B1FBFF !important;
    background-color: rgba(177, 251, 255) !important;
  }
  .marker-cluster-medium {
    // background-color: #40F6FF !important;
    background-color: rgba(64, 246, 255, 0.7) !important;
  }
  .marker-cluster-medium div {
    // background-color: #40F6FF !important;
    background-color: rgba(64, 246, 255) !important;
  }
  .marker-cluster-large {
    // background-color: #00D4DF !important;
    background-color: rgba(0, 212, 223, 0.7) !important;
  }
  .marker-cluster-large div {
    // background-color: #00D4DF !important;
    background-color: rgba(0, 212, 223) !important;
  }
}
