

$font-size32: 1.66vw;
$font-size20: 1.04vw;
$font-size24: 1.25vw;
$font-size16: 0.83vw;

.new-wrap {
  position: absolute;
  bottom: 45px;
  right: 0;
  z-index: 999;
  cursor: pointer;
  img {
    width: 136px;
    height: 116px;
  }
  .news {
    position: absolute;
    left: 32px;
    top: 45px;
    font-size: 24px;
    color: #fff;
  }
}

.main-view-wrap{
  display: flex;
}

app-map{
  width: 100%;
}

app-left-side{
  width: 40%;
}

@media (max-width: 767px)  {
  app-left-side{
    display: none;
  }
}
