$font-size32: 1.66vw;
$font-size20: 1.04vw;
$font-size24: 1.25vw;
$font-size16: 0.83vw;

.new-wrap {
  position: absolute;
  bottom: 45px;
  right: 0;
  z-index: 999;
  cursor: pointer;
  img {
    width: 136px;
    height: 116px;
  }
  .news {
    position: absolute;
    left: 32px;
    top: 45px;
    font-size: 24px;
    color: #fff;
  }
}

.main-view-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
}

app-map {
  width: 100%;
}

app-left-side {
  width: 40%;
}

.text-align-center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.float-functions{
  display: none;
  .float-functions-wrap{
    width: 60px;
    height: 60px;
    background:  #00D4DF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .left-side-hide {
    transform: translateY(100%);
  }
  .left-side-open {
    transform: translateY(0);
  }
  .float-functions{
    display: block;
    position: absolute;
    bottom: 56px;
    right: 19px;
    display: flex;
    z-index: 450;
    .float-functions-wrap{
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
  app-map {
    width: 100%;
  }
  app-left-side {
    width: 100%;
    position: absolute;
    transition: ease-out .3s;
    z-index: 999;
  }
  .new-wrap {
    display: none;
  }
}
