
<div class="left-side-container">

  <div class="filter-wrap">
    <div class="search-input-wrap">
      <input class="search-input" (keyup.enter)="startSearch()"
        [(ngModel)]="searchValue" type="text">
      <i class="fas fa-search" (click)="startSearch()"></i>
    </div>
    <span class="remind-text">搜尋所在縣市、地址、藥局名稱</span>

    <div class="mask-filter-wrap dropdown">
      <span>需求口罩選擇：</span>
      <div class="mask-filter">
        <div (click)="maskFilterToggle()" class="dropbtn">
          {{maskOption}}
          <i class="fas fa-sort-down"></i>
        </div>
        <div *ngIf="maskFilterShow" class="dropdown-content">
          <div *ngIf="maskOption !== '全部'" (click)="setMaskOption('全部')">全部</div>
          <div *ngIf="maskOption !== '成人口罩'" (click)="setMaskOption('成人口罩')">成人口罩</div>
          <div *ngIf="maskOption !== '兒童口罩'" (click)="setMaskOption('兒童口罩')">兒童口罩</div>
        </div>
      </div>
    </div>
  </div>


  <div class="search-result-container">

    <div class="w100 text-align-center" *ngIf="errorStr !== ''">{{errorStr}}</div>
    <div class="w100 text-align-center" *ngIf="resultList.length !== 0">
      共{{resultList.length}}筆結果 </div>

    <ng-container *ngFor="let item of resultList">
      <div class="result-wrap"
        (click)="goTarget(item.geometry.coordinates[1],item.geometry.coordinates[0])">
        <div class="title"> {{item.properties.name}} </div>

        <div class="details">
          <div><i class="fas fa-map-marker-alt"></i> {{item.properties.name}}
          </div>
          <div><i class="fas fa-phone-alt"></i> {{item.properties.address}}
          </div>
          <div *ngIf="item.properties.note !== '-'"><i class="fas
              fa-sticky-note"></i> {{item.properties.note}} </div>
        </div>

        <div class="mask-wrap">
          <div class="adult-mask-wrap">
            成人口罩
            <span class="number">{{item.properties.mask_adult}}</span>
            個
          </div>
          <div class="child-mask-wrap">
            兒童口罩
            <span class="number">{{item.properties.mask_child}}</span>
            個
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>
