
<div class="left-side-container">
  <div class="filter-wrap">
    <div class="search-input-container">
      <div class="search-input-wrap">
        <input class="search-input" (keyup.enter)="startSearch()"
          [(ngModel)]="searchValue"
          placeholder="搜尋縣市、地址、藥局名等" type="text">
        <i class="fas fa-search" (click)="startSearch()"></i>
      </div>
      <div *ngIf="mainService.isMobile" class="leftSide-close"
        (click)="mainService.toggleLeftSide()">
        <i class="fas fa-times"></i>
      </div>
    </div>


    <!-- <span class="remind-text">搜尋所在縣市、地址、藥局名稱</span> -->

    <div class="mask-filter-wrap dropdown">
      <div class="my-favorite" [class.active]="currentList === 'favorite'" (click)="showFavorite()">
        <i class="fas fa-star"></i>
      </div>
      <span>需求口罩選擇：</span>
      <div class="mask-filter">
        <div (click)="maskFilterToggle()" class="dropbtn">
          {{maskOption}}
          <i class="fas fa-sort-down"></i>
        </div>
        <div *ngIf="maskFilterShow" class="dropdown-content">
          <div *ngIf="maskOption !== '全部'" (click)="setMaskOption('全部')">全部</div>
          <div *ngIf="maskOption !== '成人口罩'" (click)="setMaskOption('成人口罩')">成人口罩</div>
          <div *ngIf="maskOption !== '兒童口罩'" (click)="setMaskOption('兒童口罩')">兒童口罩</div>
        </div>
      </div>
    </div>
  </div>


  <div class="search-result-container">

    <div class="w100 text-align-center" *ngIf="errorStr !== ''">{{errorStr}}</div>

    <ng-container *ngIf="currentList === 'all'">
      <ng-container [ngTemplateOutlet]="resultHeading" [ngTemplateOutletContext]="{item:resultList.length}"></ng-container>
      <ng-container *ngFor="let item of resultList">
        <ng-container [ngTemplateOutlet]="pharmacyList" [ngTemplateOutletContext]="{item:item}"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="currentList === 'favorite'">
      <ng-container [ngTemplateOutlet]="resultHeading" [ngTemplateOutletContext]="{item:allFavoriteList.length}"></ng-container>
      <ng-container *ngFor="let item of allFavoriteList">
        <ng-container [ngTemplateOutlet]="pharmacyList" [ngTemplateOutletContext]="{item:item}"></ng-container>
      </ng-container>
    </ng-container>


    <ng-template #resultHeading let-dataLength="item">
      <div class="w100 text-align-center" *ngIf="dataLength !== 0">
        <ng-container *ngIf="currentList === 'favorite'; else allHeading">
          我關注的藥局
        </ng-container>
        <ng-template #allHeading>全部</ng-template>
        共{{dataLength}}筆結果 </div>
    </ng-template>

    <ng-template #pharmacyList let-item="item">
      <div class="result-wrap"
        (click)="goTarget(item.geometry.coordinates[1],item.geometry.coordinates[0])">
        <div class="title">
          <i class="result-star" [ngClass]="favoriteCheck(item.properties.id)"
            (click)="toggleFavorite(item.properties.id)"></i>
          {{item.properties.name}}
        </div>

        <div class="details">
          <div>
            <i class="fas fa-map-marker-alt"></i> {{item.properties.name}}
          </div>
          <div><i class="fas fa-phone-alt"></i> {{item.properties.address}}
          </div>
          <div *ngIf="item.properties.note !== '-'"><i class="fas
              fa-sticky-note"></i> {{item.properties.note}} </div>
        </div>

        <div class="mask-wrap">
          <div class="adult-mask-wrap">
            成人口罩
            <span class="number">{{item.properties.mask_adult}}</span>
            個
          </div>
          <div class="child-mask-wrap">
            兒童口罩
            <span class="number">{{item.properties.mask_child}}</span>
            個
          </div>
        </div>

      </div>
    </ng-template>

  </div>
</div>
